* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
img {
    max-width: 100%;
}

html {
    font-family: sans-serif;
}

.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.btn {
    display: inline-block;
    padding: 15px 16px;
    font-size: 12px;
    line-height: 1;
    text-transform: uppercase;
    color: white;
    background-color: #3172b9;
    border-radius: 4px;
    cursor: pointer;
}

.text-center {
    text-align: center;
}

.header {
    height: 110px;
}

.header-container {
    display: flex;
    align-items: center;
    height: 100%;
}

.logo {
    margin-right: auto;
}

.nav-list {
    display: flex;    
}

.nav-item:not(:last-child) {
    margin-right: 50px;
}

.heading-btn {
    margin-left: 80px;
}

/* Hero */
.hero-container {
    padding-top: 120px;
    padding-bottom: 130px;
}

.hero-content {
    max-width: 50%;
}

.section-hero-heading {
    margin-bottom: 20px;
}

.section-hero-description {
    margin-bottom: 30px;
}

.section-hero-btn-description {
    margin-top: 10px;
}

/* Whats we Do */
.section-do {
    padding-top: 140px;
    padding-bottom: 100px;
}

.section-description {
    margin-top: 25px;
}

.section-do-list {
    display: flex;
    margin-top: 50px;
}

.section-do-item {
    flex: 1 1 25%;    
    /* ---for debugging---*/
    /* outline: 3px solid red; */
}

.section-do-item:not(:last-child) {
    margin-right: 30px;
}


/*Client*/
.section-clients {
    padding-top: 90px;
    padding-bottom: 100px;
    border-top: 0.1px solid gainsboro;
    border-bottom: 0.1px solid gainsboro;
}

.section-clients-list {
    display: flex;
}

.section-clients-list-item {    
    flex: 1 1 33.33%;
    border-top: 0.1px solid gainsboro;
    border-bottom: 0.1px solid gainsboro;
    border-left: 0.1px solid gainsboro;
    border-right: 0.1px solid gainsboro;
}

.section-clients-list-item:not(:last-child) {
    margin-right: 30px;
}

.section-clients-user {
    display: flex;
    align-items: center;
}

.section-clients-avatar {
    width: 60px;
    height: 60px;
    border: 2px solid blue;
    border-radius: 50%;
    margin-right: 15px;
}


/* Contacts */
.section-contacts {
    padding-top: 85px;
    padding-bottom: 95px;
}

.section-contacts-list {
    display: flex;
    margin-top: 40px;
}

.section-contacts-item {
    flex: 1 1 33.33%;
}

.section-contacts-info {
    max-width: 250px;
}

.section-contacts-icon {
    display: block;
    margin-bottom: 20px;
}

.section-contacts-heading {
    display: block;
    margin-bottom: 20px;
}