/* open-sans-300 - cyrillic_latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/open-sans-v40-cyrillic_latin-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* open-sans-regular - cyrillic_latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/open-sans-v40-cyrillic_latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* open-sans-600 - cyrillic_latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/open-sans-v40-cyrillic_latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }


* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
img {
    max-width: 100%;
}

html {
    font-family: 'Open Sans', sans-serif;
}

.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.btn {
    display: inline-block;
    padding: 15px 30px;
    font-size: 16px;
    line-height: 1;
    font-weight: 600px;
    text-transform: uppercase;
    color: white;
    background-color: #3172b9;
    border-radius: 4px;
    cursor: pointer;
}

.btn.btn-big {
    padding: 20px 60px;
}

.section-heading {
    margin-top: 0;
    margin-bottom: 25px;
    font-size: 36px;
    line-height: 1.3;
    font-weight: 300;
    color: #414141;
}

.text-center {
    text-align: center;
}

.header {
    height: 110px;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.nav-list {
    display: flex;    
    margin: auto;
}

.nav-item {
    font-size: 15px;
    line-height: 1;
}

.nav-link {
    color: #1c1c1c;
}

.nav-item.is-active .nav-link {
    color: #3172b9;
}

.nav-item:not(:last-child) {
    margin-right: 50px;
}

.heading-btn {
    margin-left: 40px;
}

/* Hero */
.section-hero {
    background: url(../img/hero.jpg) right center no-repeat white;
    background-size: contain;
}

.hero-container {
    padding-top: 120px;
    padding-bottom: 130px;
}

.hero-content {
    max-width: 50%;
}

.section-hero-heading {    
    margin-top: 0px;
    margin-bottom: 30px;
    font-size: 40px;
    line-height: 52px;
    font-weight: 300;
    color: #1c1c1c;
}

.section-hero-action {
    display: inline-block;
}

.section-hero-description {
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 25px;
    color: #787878;
}

.section-hero-btn-description {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    font-style: 11px;
    line-height: 1;
    text-transform: uppercase;
    text-align: center;
    color: #787878;
}

.section-hero-ssl-icon {
    display: inline-block;
    width: 13px;
    height: 17px;
    margin-right: 10px;
    background: url(../img/ssl.svg) center center no-repeat transparent;
    background-size: contain;
    transform: translateY(-1px);
}

/* Whats we Do */
.section-do {
    padding-top: 140px;
    padding-bottom: 100px;
    border-bottom: 0.1px solid gainsboro;
}

.section-description {
    margin-top: 0;
    font-size: 16px;
    line-height: 1.31;
    color: #787878;
}

.section-do-list {
    display: flex;
    margin-top: 50px;
}

.section-do-item {
    flex: 1 1 25%;    
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 30px;
    border: 1px solid #e4e4e4;
    border-radius: 5px;
    /* ---for debugging---*/
    /* outline: 3px solid red; */
}

.section-do-item:not(:last-child) {
    margin-right: 30px;
}

.section-do-icon {
    margin-bottom: 30px;
}

.section-do-item-heading {
    margin-bottom: 18px;
    font-size: 20px;
    line-height: 1;
    font-weight: 600;
    color: #1c1c1c;
}

.section-do-item-description {
    margin-bottom: 0;
    font-size: 14px;
    line-height: 21px;
    font-weight: 300;
    text-align: center;
    color: #787878;
}


/*Client*/
.section-clients {
    padding-top: 90px;
    padding-bottom: 100px;
    border-bottom: 0.1px solid gainsboro;
}

.section-clients-heading {
    margin-bottom: 45px;
}

.section-clients-list {
    display: flex;
}

.section-clients-list-item {       
    flex: 1 1 33.33%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px 35px 30px 35px;
    border-top: 0.1px solid gainsboro;
    border-bottom: 0.1px solid gainsboro;
    border-left: 0.1px solid gainsboro;
    border-right: 0.1px solid gainsboro;
}

.section-clients-list-item:not(:last-child) {
    margin-right: 30px;
}

.section-clients-testimonial {
    margin-top: 0;
    margin-bottom: 35px;
    font-size: 14px;
    line-height: 25px;
    font-weight: 300;
    color: #787878
}


.section-clients-user {
    display: flex;
    align-items: center;
    padding-top: 28px;
    border-top: 1px solid #c9c9c9;
}

.section-clients-username {
    font-size: 17px;
    line-height: 25px;
    font-weight: 600;
    color: #1c1c1c;
}

.section-clients-user-description {
    font-size: 14px;
    line-height: 25px;
    color: #787878;
}

.section-clients-avatar {
    width: 60px;
    height: 60px;
    border: 2px solid blue;
    border-radius: 50%;
    margin-right: 15px;
}


/* Contacts */
.section-contacts {
    padding-top: 85px;
    padding-bottom: 95px;
    border-bottom: 1px solid #c9c9c9;
}

.section-contacts-list {
    display: flex;
    margin-top: 40px;
}

.section-contacts-item {
    flex: 1 1 33.33%;
}

.section-contacts-info {
    max-width: 250px;
    font-size: 14px;
    line-height: 25px;
    color: #787878;
}

.section-contacts-link {
    color: #787878;
}

.section-contacts-icon {
    display: block;
    margin-bottom: 20px;
}

.section-contacts-heading {
    display: block;
    margin-bottom: 40px;
    font-size: 17px;
    line-height: 1;
    color: #1c1c1c;
}


/* footer */
.footer {
    height: 125px;
}

.footer-icon {
    margin-right: 25px;
}

.footer-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.footer-nav-list {
    display: inline-flex;
    
}

.footer-nav-item {
    margin-right: 35px;
}

.footer-social-list {
    display: inline-flex;
}

.footer-social-item {
    margin-right: 35px;
}

/* section-form */
.section-form {
    border-bottom: 1px solid #c9c9c9;
}

.form-title {
    text-align: center;
}

.form-description {
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    color: #787878;
}

.form {
    display: flex;
    justify-content: space-between;
    margin-top: 58px;
}

.input,
.btn-submit {
    flex: 0 0 calc(25% - 15px);
    height: 60px;
    border-radius: 30px;
}

.input {
    padding: 0 30px;
    border: 1px solid #dadada;
    border-radius: 30px;
    color: blue;
}

.input::placeholder {
    color: red;
}
